@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 226 32% 10%;
    --foreground: 0 0% 100%;
    --card: 226 32% 17%;
    --border: 215 25% 27%;
    --input: 215 25% 27%;
    --ring: 263 70% 50%;
    --radius: 1rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .glass {
    @apply bg-opacity-20 backdrop-blur-lg backdrop-filter;
  }
}